In [1]:
import dask.dataframe as dd
from dask.distributed import Client
import json
import dask

In [2]:
# client=Client('127.0.0.1:8786')
# client.scheduler_info()
# #dask.config.config

In [3]:
products = dd.read_csv("small_products_Release.csv")
reviews = dd.read_csv("small_user_reviews_Release.csv")

In [4]:
products.tail(1)

,asin,salesRank,imUrl,categories,title,description,price,related,brand
6217,0198515294,{'Books': 1938228},http://ecx.images-amazon.com/images/I/510Vg1i6...,[['Books']],Global Public Health: A New Era (Medicine),"""I would recommend this eminently readable and...",52.22,NaN,NaN

In [5]:
reviews.head(1)

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A2T0RJ91B0PQ03,B0016CRVLW,Gerald DeWitt,"[0, 0]",Beware! This is NOT the original single versi...,1.0,Poor Quality Alternate Take,1.400630e+09,"05 21, 2014"

In [6]:
products.shape[0].compute()

99999

In [24]:
products.head()

,asin,salesRank,imUrl,categories,title,description,price,related,brand
0,0001048791,{'Books': 6334800},http://ecx.images-amazon.com/images/I/51MKP0T4...,[['Books']],"The Crucible: Performed by Stuart Pankin, Jero...",NaN,NaN,NaN,NaN
1,0000143561,{'Movies & TV': 376041},http://g-ecx.images-amazon.com/images/G/01/x-s...,"[['Movies & TV', 'Movies']]","Everyday Italian (with Giada de Laurentiis), V...","3Pack DVD set - Italian Classics, Parties and ...",12.99,"{'also_viewed': ['B0036FO6SI', 'B000KL8ODE', '...",NaN
2,0000037214,{'Clothing': 1233557},http://ecx.images-amazon.com/images/I/31mCncNu...,"[['Clothing, Shoes & Jewelry', 'Girls'], ['Clo...",Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,NaN,6.99,"{'also_viewed': ['B00JO8II76', 'B00DGN4R1Q', '...",Big Dreams
3,0000032069,NaN,http://ecx.images-amazon.com/images/I/51EzU6qu...,"[['Sports & Outdoors', 'Other Sports', 'Dance'...",Adult Ballet Tutu Cheetah Pink,NaN,7.89,"{'also_bought': ['0000032050', 'B00D0DJAEG', '...",BubuBibi
4,0000031909,{'Toys & Games': 201847},http://ecx.images-amazon.com/images/I/41xBoP0F...,"[['Sports & Outdoors', 'Other Sports', 'Dance']]",Girls Ballet Tutu Neon Pink,High quality 3 layer ballet tutu. 12 inches in...,7.00,"{'also_bought': ['B002BZX8Z6', 'B00JHONN1S', '...",Unknown

In [8]:
percentNa = (reviews.isna().mean().mean()*100 + products.isna().mean().mean()*100)/2
percentNa.compute()

#check mask""???

19.697974757525355

In [12]:
subproducts = products[['asin', 'price']]
subreviews = reviews[['asin', 'overall']]

#optimise with left and not index on products
joined = subproducts.set_index("asin").join(subreviews.set_index("asin"), on="asin", how='inner')
#joined.head()
pcor = joined.corr()['overall']
val = pcor.compute()['price']
val

/home/ubuntu/dask_env/lib/python3.6/site-packages/numpy/lib/function_base.py:380: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis)
/home/ubuntu/dask_env/lib/python3.6/site-packages/numpy/core/_methods.py:163: RuntimeWarning: invalid value encountered in true_divide
  ret, rcount, out=ret, casting='unsafe', subok=False)
/home/ubuntu/dask_env/lib/python3.6/site-packages/pandas/core/frame.py:8280: RuntimeWarning: Degrees of freedom <= 0 for slice
  base_cov = np.cov(mat.T, ddof=ddof)
/home/ubuntu/dask_env/lib/python3.6/site-packages/numpy/lib/function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)
/home/ubuntu/dask_env/lib/python3.6/site-packages/numpy/lib/function_base.py:2480: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)
/home/ubuntu/dask_env/lib/python3.6/site-packages/numpy/lib/function_base.py:380: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis)
/home/ubuntu/dask_env/lib/python3.6/site-packages/numpy/core/_methods.py:163: RuntimeWarning: invalid value encountered in true_divide
  ret, rcount, out=ret, casting='unsafe', subok=False)
/home/ubuntu/dask_env/lib/python3.6/site-packages/pandas/core/frame.py:8280: RuntimeWarning: Degrees of freedom <= 0 for slice
  base_cov = np.cov(mat.T, ddof=ddof)
/home/ubuntu/dask_env/lib/python3.6/site-packages/numpy/lib/function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)
/home/ubuntu/dask_env/lib/python3.6/site-packages/numpy/lib/function_base.py:2480: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)

-0.034585828859168014

In [11]:
price_prod = products['price'].describe().compute()
[price_prod['mean'], price_prod['std'], price_prod['50%'], price_prod['min'], price_prod['max']]

[27.726746045964067, 40.33121621403623, 16.14, 0.0, 992.75]

NameError: name 'ddf' is not defined

In [38]:
def f(x):
    if isinstance(x, float):
        return x
    else:
        return x.strip("[]").split(',')[0]

numCat = products.assign(categories = lambda x: x.categories.apply(
    f,
    meta=('categories', 'str'))
                        )

numCat = numCat.groupby("categories").count()['asin']
numCat.compute()[1:]

#[1:]this removes the nan catagory

categories
'Books'                        99835
'CDs & Vinyl'                      9
'Clothing                          3
'Movies & TV'                     72
'Musical Instruments'              4
'Software'                         6
'Sports & Outdoors'                7
'Tools & Home Improvement'         1
'Toys & Games'                     5
'Baby'                             3
'Cell Phones & Accessories'        3
'Electronics'                      1
'Health & Personal Care'           1
'Home & Kitchen'                   2
'Office & School Supplies'         1
'Office Products'                  2
'Video Games'                      1
Name: asin, dtype: int64

In [54]:


subR = reviews[['asin']].drop_duplicates().set_index('asin')

subP = products.set_index('asin')

iner = subR.join(subP, on="asin", how='inner').shape[0]

left = subR.join(subP, on="asin", how='left').shape[0]

print(iner)
print(left)

out = (iner == left).compute()

out

#products.set_index('asin').index
#index.difference(products.set_index('asin').index)

1804
87295

False

In [55]:
subR.join(subP, on="asin", how='inner').compute()

,salesRank,imUrl,categories,title,description,price,related,brand
asin,,,,,,,,
0000031887,{'Sports &amp; Outdoors': 8547},http://ecx.images-amazon.com/images/I/314qZjYe...,"[['Clothing, Shoes & Jewelry', 'Girls', 'Cloth...",Ballet Dress-Up Fairy Tutu,This adorable basic ballerina tutu is perfect ...,6.79,"{'also_bought': ['0000031852', '0000031895', '...",Boutique Cutie
000100039X,{'Books': 587803},http://ecx.images-amazon.com/images/I/81ZKLPiv...,[['Books']],The Prophet,"In a distant, timeless place, a mysterious pro...",3.99,"{'also_bought': ['1851686274', '0785830618', '...",NaN
0002007770,{'Books': 2296729},http://ecx.images-amazon.com/images/I/511VYFJM...,[['Books']],Water For Elephants,NaN,8.52,"{'also_bought': ['0399155341', '1573222453', '...",NaN
0002178559,{'Books': 233967},http://ecx.images-amazon.com/images/I/61Ufn5kW...,[['Books']],Demanding the Impossible: A History of Anarchism,"The goal of an egalitarian, communal society h...",12.99,"{'also_viewed': ['0853451753', '0192804774', '...",NaN
0002185385,{'Books': 1571618},http://ecx.images-amazon.com/images/I/41JB1K72...,[['Books']],Harvey Penick's Little Red Golf Book: Lessons ...,"Before titanium drivers, before oversized head...",10.99,"{'also_bought': ['0671612972', '0767903447', '...",NaN
...,...,...,...,...,...,...,...,...
019562971X,{'Books': 6182918},NaN,[['Books']],Above the Forest: A Study of Andamanese Ethnoa...,NaN,NaN,NaN,NaN
0198258461,{'Books': 10977064},http://ecx.images-amazon.com/images/I/416WdtZx...,[['Books']],The Cyprus Question and the Turkish Position i...,Zaim M. Necatigil is former Attorney-General o...,188.10,NaN,NaN
0198279299,{'Books': 2264501},http://ecx.images-amazon.com/images/I/81zaHB5E...,[['Books']],1948 and After: Israel and the Palestinians (C...,"""For scholars interested in the Palestine of t...",57.59,"{'also_viewed': ['0679744754', '0300126964', '...",NaN
0198326769,{'Books': 755361},http://ecx.images-amazon.com/images/I/51HrQBjt...,[['Books']],The Boy in the Striped Pyjamas,"Book DescriptionThis work was set in Berlin, 1...",4.99,"{'also_bought': ['1561378380', '158013176X', '...",NaN
0198506147,{'Books': 690589},http://ecx.images-amazon.com/images/I/410loeev...,[['Books']],The Genius of Science: A Portrait Gallery,Physics might seem part of an alien culture to...,13.99,"{'also_bought': ['0691012431', '019853907X', '...",NaN